@import "./mixin.font-face.scss";
@import "./vars.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-regular;
}

.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.img-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;

    @media only screen and (max-width: 1024px) {
      object-fit: cover;
    }
  }
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(24, 1fr);

  @media only screen and (max-width: 760px) {
    display: flex;
  }
}

.content {
  grid-column: 3/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  @media only screen and (max-width: 760px) {
    justify-content: flex-end;
    margin: 0 5% 10%;
    gap: 5px;
  }

  img {
    width: 100%;
  }

  &-title {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    margin: 40px 0 0;
  }

  &-info {
    color: #a3a3a3;
    margin-top: 20px;
    font-weight: 400;
    line-height: 18px;

    @media only screen and (max-width: 760px) {
      color: #2e302f;
    }

    span {
      margin-right: 5px;
    }
  }

  &-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 16px 0;
  }

  &-talents,
  &-creators {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  &-label {
    color: #a3a3a3;

    @media only screen and (max-width: 760px) {
      color: #2e302f;
    }
  }

  &-button {
    margin: 40px 0 0;
    display: flex;
    gap: 20px;

    @media only screen and (max-width: 760px) {
      flex-wrap: wrap;
    }

    button {
      color: white;
      padding: 12px 20px;
      min-width: 120px;
      border-radius: 8px;
      border: none;
      font-family: $font-family-bold;
      font-size: 14px;
      font-weight: 700;
      box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;

      @media only screen and (max-width: 760px) {
        min-width: 100px;
        overflow: hidden;
        text-align: center;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }

    .red {
      background-color: #e50914;
    }

    .black {
      background-color: black;
    }

    .orange {
      background-color: rgb(243, 84, 21);
    }
  }
}
